{% extends 'base.html.twig' %}

{% block body %}


    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 bg-success">
                <p>Retrouver une facture</p>

            </div>
            <div class="col-md-6 bg-primary">
                <p>Découvrir Digicket</p>
            </div>
        </div>
    </div>

{% endblock %}

{% block stylesheets %}

    {{ parent() }}
{% endblock %}
